@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: indigo;
    padding: 12px;
    display: grid;
}

form{
    border: 1px solid #000;
    padding: 1em;
    max-width: fit-content;
    margin: auto;
}

input{
    outline: none;
    border: 1px solid black;
    padding: 0.5em;
}

select{
    outline: none;
    border: 1px solid black;
    padding: 0.2em;
}

textarea{
    display: block;
    border: 1px solid #000;
}

.jobApp-container{
    margin: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.jobItem, .savedJobItem{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 1em .5em ;
}

.editBtn, .deleteBtn{
    border: 1px solid #000;
    padding: .2em;
    width: 55px;
    border-radius: 8px;
}

.editBtn{
    background-color: blue;

}

.deleteBtn{
    background-color: rgb(142, 47, 47);
}



